@import 'variaveis', 'pages/home', 'pages/auth', 'pages/perfil', 'pages/feed', 'pages/contato', 'pages/editperfil', 'pages/novoprojeto',
'pages/meusprojetos';

body{
    
    width: 100%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/images/background.png");

    header{

        width: 100%;
        height: 140px;
        display: flex;
        flex-direction: row;
        padding: 10px 0 20px 0;
        background-color: $preto-transparente;
        background-attachment: fixed;

        .vinte{

            width: 20%;
            height: 100%;
            display: flex;
            place-content: center;
            align-items: center;
            justify-content: space-around;
            
            .social{

                width: 30px;
                height: 30px;

                svg{

                    width: 30px;
                    height: 30px;
                    fill: $dourado;
                }
            }

            .perfil{

                width: 30%;
                height: 30px;
                color: $dourado;

            }

            .btn-header{

                width: 30%;
                height: 30px;
                background-color: $preto;
                color: $dourado;
                border: solid 1px #c5b273;
                font-weight: bold;
                text-decoration: none;
                align-content: center;
                text-align: center;
                border-radius: 10px;
                padding: 0 10px;
                justify-content: center;
                align-items: center;
                transition: 0.3s;

                &:hover{

                    background-color: $preto;
                    color: $dourado;
                    scale: 1.05;
                }
            }

            .logout-btn{
                width: 30%;

                .btn-header{

                    width: 100%;
                    height: 30px;
                    display: flex;
                    background-color: $preto;
                    color: $dourado;
                    border: solid 1px #c5b273;
                    font-weight: bold;
                    text-decoration: none;
                    align-content: center;
                    text-align: center;
                    border-radius: 10px;
                    padding: 0 10px;
                    justify-content: center;
                    align-items: center;
                    transition: 0.3s;

                    &:hover{
    
                        background-color: $preto;
                        color: $dourado;
                        scale: 1.05;
                    }
                }

            }

            .caminho-perfil{ 

                display: flex;
                align-items: center;
                
                a{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;

                    .icone-perfil{

                        width: 50px;
                        border-radius: 10px;
                    }

                    .nome-perfil{

                        color: $dourado;
                        font-size: 18px;
                        font-weight: bold;  
                        text-decoration: none;
                    
                    }
                }
            }
        }

        .sessenta{

            width: 60%;
            height: 100%;
            display: flex;
            place-content: center;

            .logo{

                width: 500px;
            }

            .expo{

                width: 120px;
                position: absolute;
                top: 85px;
            }
        }
    }

    main{

        width: 70%;
        min-height: 800px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    
    footer{

        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: row;
        background-color: rgba(0, 0, 0, 0.612);
        align-items: center;
        justify-content: center;

        p{
            color: $dourado;
        }
        
    }
}
