@import '../variaveis';

.dashboard{

    .cabecario{
        
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .titulo{
            
            font-size: 40px;
            color: $dourado;
        }
        
        .meus-projetos{

            font-size: 20px;
            color: $dourado;
            text-decoration: none;
        }
    }

    .conteudo{

        .redes-sociais{

            .icone{


            }
        }
    }

    .destaques{

        .h1{

        }

        .destaque{

        }
    }

}